<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("../public/cssjs.ejs") %>
</head>
<body>
    <nav>
        <a href="/pokemon/new">Add a Pokemon</a>
    </nav>
    <h1>Pokemon Pokedex</h1>
    
    <% for (let i=0; i<Pokemon.length; i++) { %>
        <a href="/pokemon/<%= i %>"><h3><%= Pokemon[i].name %></h3>
        <img src="<%= Pokemon[i].img %>">

        <a href="/pokemon/<%= i %>/edit"><button>Edit</button></a>

        <form action="/pokemon/<%= i %>?_method=DELETE" method="post">
            <input type="submit" value="Remove pokemon">
            
        </form>
        </div>
    <% } %>
    </a>
</body>
</html>