<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("../public/cssjs.ejs") %>
</head>
<body>
    <header>
    <h1><%= showPokemon.name %></h1>
    <nav>
        <a href="/pokemon">Go back.</a>
    </nav>
    </header>    
        <img src="<%= showPokemon.img %>">
        <div id="typeDiv">
            <h5>Type</h5>
            <ul>
                <li><%= showPokemon.type[0] %></li>
                <% if (showPokemon.type[1] != null) { %>
                <li><%= showPokemon.type[1]%></li> 
                <% } %>
                <% if (showPokemon.type[2] != null) { %>
                <li><%= showPokemon.type[2]%></li>
                <% } %>
            </ul>
        </div>
        <div id="statsDiv">
            <h5>Stats</h5>
            <ul>
                <li>HP: 
                    <%= showPokemon.stats.hp %>
                </li>
                <li>Attack: 
                    <%= showPokemon.stats.attack %>
                </li>
                <li>Defense: 
                    <%= showPokemon.stats.defense %>
                </li>
            </ul>
        </div>
</html>