<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("../public/cssjs.ejs") %>
</head>
<body>
    <nav>
        <a href="/pokemon">Go back.</a>
    </nav>
        <h1><%= showPokemon.name %></h1>
        <img src="<%= showPokemon.img %>">
        <div id="typeDiv">
            <h5>Type</h5>
            <ul>
                <li><%= showPokemon.type[0] %></li>
                <% if (showPokemon.type[1] != null) { %>
                <li><%= showPokemon.type[1]%></li> 
                <% } %>
                <% if (showPokemon.type[2] != null) { %>
                <li><%= showPokemon.type[2]%></li>
                <% } %>
            </ul>
        </div>
        <div id="statsDiv">
            <h5>Stats</h5>
            <ul>
            <li><b>HP:</b> <%= showPokemon.stats.hp %></li>
            <li><b>Attack:</b> <%= showPokemon.stats.attack %></li>
            <li><b>Defense:</b> <%= showPokemon.stats.defense %></li>
        </ul>
        </div>
</html>